streamlit
langchain
langchain_community
langchain-anthropic
anthropic
chromadb==0.4.22
sentence-transformers
InstructorEmbedding
transformers
git+https://github.com/dssjon/streamlit-analytics.git@main#egg=streamlit-analytics